.question-view {
  display: flex;
  flex-direction: row;
  border-style: dashed;
  padding-right: 10%;
  background-color: rgb(195, 221, 234);
}

.categories-list {
  flex-basis: 50%;
  flex-shrink: 2;
  padding-left: 0.2%;
  border-radius: 50%;
}

.categories-list > form {
  width: 60%;
}

.questions-list {
  flex-basis: 50%;
  text-align: center;
}

.Question-holder {
  padding: 10px 20px;
  border: 2px black solid;
  border-radius: 1.5%;
  text-align: center;
  margin: 7px;
}
.buttono{
  background-color:dodgerblue;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: flex;
  align-items: flex-start;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 40%;
}
.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 21px;
  width: 100%;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 5px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  background-color: dodgerblue;
  color: white;
  padding: 3px 5px;
  margin-left: 0px !important;
}

span.page-num {
  margin: 5px;
  padding-bottom: 50px;
  /* color: blue; */
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
}

span.page-num.active {
  color: blue;
}

img.category {
  width: 30px;
}

img.delete {
  width: 20px;
}